.event-banner {
    position: relative;
    text-align: center;
    color: black;
}

.banner-img {
    width: 100%;
    max-width: 100%;
    height: 85vh;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.banner-text h1 {
    font-size: 5rem;
    line-height: 10rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.organiser-img {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.organisers {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 100px;
}

.text-li {
    font-size: 2rem;
    line-height: 5rem;
}

.schedule-table {
    width: 100%;
}

.schedule-table,
.schedule-table th,
.schedule-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
    padding: 5px;
    text-align: center;
}

.schedule-table thead {
    margin: 5px;
}

.table-micro td, .table-micro th {
    height: 49px;
}

.table-sig td, .table-sig th {
    height: 47px;
}

.register-div {
    margin-top: 30px;
}

.register-btn {
    border: none;
    border-radius: 50px;
    color: black;
    padding: 10px;
    width: 150px;
}

.register-btn:hover {
    background-color: rgb(18, 109, 5);
    color: white;
}

.faculty-img {
    border-radius: 5%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.faculty-name {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

.social-list {
    margin-top: 5rem;
}

.social a {
    font-size: 3rem;
    padding: 0 2rem;
}

.bio-div {
    height: 100vh;
}

.bio-section {
    height: 100vh;
}

.bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bio-info {
    margin: 20px;
    width: 50%;
}

.affiliation {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .text-li {
        font-size: 1.5rem;
    }

    .banner-text h1 {
        font-size:3rem;
        line-height: 5rem;
    }

    .banner-img {
        height: 70vh;
    }

    .organisers {
        width: 100%;
        height: auto;
        max-width: 150px;
        max-height: 50px;
    }
}
